################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/week04/.idea
/.vs/FrontEndLesson/v16
/.vs
/.idea
/week04/server/.idea
/week05/server/.idea
/week08/GetAllAPIs/.idea
/week03/.idea
