################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/week04/.idea
/.vs/FrontEndLesson/v16
/.vs
/.idea
/week04/server/.idea
/week05/server/.idea
/week08/GetAllAPIs/.idea
/week03/.idea
/week09/.idea
/week10/.idea
/week11/.idea
/week12/jsx/node_modules
/week12/.idea
/week12/jsx/dist
/week13/jsx/.idea
/week13/jsx/node_modules
